<header class="header">
  <div class="row box-header">
    <a href="#" class="logo">Controle Financeiro</a>
    <nav>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li>
          <a href="#">Resumo</a>
        </li>
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li>
          <a href="#">Configurações</a>
        </li>
      </ul>
    </nav>
  </div>
</header>