*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {

  font-size: 51.5%;

  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(desktop) {
    font-size: 56.25%;
  }
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
