// COLORS
$color-primary: #001485;
$color-primary-light: #3548f3;
$color-primary-dark: #01314e;

$color-secondary-light: #ee2d2d;
$color-secondary-dark: #6d0000;

$color-tertiary-light: #cfc85d;
$color-tertiary-dark: #b83811;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//border
$border-radius: 0.6rem;
