<h2>Nova transação</h2>
<form class="form" [formGroup]="transactionForm">
  <div class="form__group">
    <label class="form__label">Tipo transação</label>
    <select formControlName="type" class="form__input">
      <option value="purchase">compra</option>
      <option value="sale">venda</option>
    </select>
    <div class="valid-feedback"
      [ngClass]="{'block': transactionForm.controls.type.dirty && !transactionForm.controls.type.invalid}">Valido!</div>
    <div class="invalid-feedback"
      [ngClass]="{'block': transactionForm.controls.type.dirty && transactionForm.controls.type.invalid}">Campo Requerido
    </div>
  </div>
  <div class="form__group">
    <label class="form__label">Nome da Mercadoria</label>
    <input type="text" formControlName="merchandise"  class="form__input"/>
    <div class="valid-feedback"
      [ngClass]="{'block': transactionForm.controls.merchandise.dirty && !transactionForm.controls.merchandise.invalid}">Valido!</div>
    <div class="invalid-feedback"
      [ngClass]="{'block': transactionForm.controls.merchandise.dirty && transactionForm.controls.merchandise.invalid}">Campo Requerido
    </div>
  </div>
  <div class="form__group">
    <label class="form__label">Valor</label>
    <input type="text" 
      formControlName="value"
      class="form__input"
      currencyMask
      [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
      />
    <div class="valid-feedback"
      [ngClass]="{'block': transactionForm.controls.value.dirty && !transactionForm.controls.value.invalid}">Valido!</div>
    <div class="invalid-feedback"
      [ngClass]="{'block': transactionForm.controls.value.dirty && transactionForm.controls.value.invalid}">Campo Requerido
    </div>
  </div>
  <div class="form__group">
    <button (click)="checkTrasaction(transactionForm.value)"
            class="btn btn--btn-default"
            [disabled]="!transactionForm.valid"
    >Adicionar</button>
  </div>
</form>