<section>
  <div class="row">
    <div class="col-1-of-2">
      <app-financial-control-form (insertItem)="getInfo($event)"></app-financial-control-form>
    </div>
    <div class="col-1-of-2">
      <h2>Extrato de transações </h2>
      <table>
        <thead>
          <td></td>
          <td>Mercadoria</td>
          <td>Valor</td>
        </thead>
        <tbody>
          <tr *ngFor="let item of transaction">
            <td>{{ (item.type==='purchase'?'-':'+') }}</td>
            <td>{{ item.merchandise }}</td>
            <td>{{ item.value | currency:'BRL' }}</td>
          </tr>
          <tr>
            <td></td>
            <td><strong>Total: </strong></td>
            <td><strong>{{ total() | currency: 'BRL' }}</strong></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>{{ (total()>0)?"Lucro":(total()===0)?"Neutro":"Prejuizo" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>