.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: $border-radius;
    border: 1px solid $color-grey-light-2;
    width: 100%;
    display: block;
    transition: all 0.3s;
    height: 40px;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-weight: 700;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
  .invalid-feedback,
  .valid-feedback {
    display: none;
  }
  .invalid-feedback {
    color: red;
  }
  .valid-feedback {
    color: green;
  }
  .block {
    display: block;
  }
}
