.header {
  background-color: $color-secondary-dark;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3;
  height: 67.4px;
  position: relative;
  margin-bottom: 2.5rem;

  .box-header {
    position: relative;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: $color-secondary-dark;
    position: absolute;
    right: 0;

    @include respond(desktop) {
      min-height: initial !important;
    }

    li {
      a {
        display: block;
        padding: 2em 2em;
        text-decoration: none;
        color: $color-white;
        &:hover {
          color: $color-white;
        }
        @include respond(desktop) {
          padding: 20px 30px !important;
        }
      }
      @include respond(desktop) {
        float: left !important;
      }
    }
  }
  .logo {
    float: left;
    text-decoration: none;
    color: #f4f4f4;
    font-size: 2.5rem;
    padding: 1.8rem 0;
  }
  .menu-btn {
    &:hover {
      color: $color-white;
    }
  }
  .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    @include respond(desktop) {
      clear: none !important;
      float: right !important;
      max-height: none !important;
    }
  }
  .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 31px 20px;
    position: relative;
    user-select: none;
    // right: 20px;
    z-index: 9;
    .navicon {
      background: #fff;
      display: block;
      height: 2px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 18px;
      &:before,
      &:after {
        background: #fff;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }
      &:before {
        top: 5px;
      }
      &:after {
        top: -5px;
      }
    }
    @include respond(desktop) {
      display: none !important;
    }
  }
  .menu-btn {
    display: none;
    &:checked ~ {
      .menu {
        min-height: 100vh;
        min-width: 70vw;
      }
      .menu-icon {
        .navicon {
          background: transparent;
          &:before {
            transform: rotate(-45deg);
          }
          &:after {
            transform: rotate(45deg);
          }
        }
        &:not(.steps) .navicon {
          &:before,
          &:after {
            top: 0;
          }
        }
      }
    }
  }
}
