.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1rem 3rem;
    display: inline-block;
    border-radius: $border-radius;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;
  }
  @include respond(tab-port) {
    width: 100% !important;
  }

  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
  &:disabled {
    background-color: $color-grey-dark-2;
    cursor: not-allowed;
  }

  &--btn-default {
    background-color: $color-secondary-dark;
    color: $color-white;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: $border-radius;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
}
